---
import '../ContactSection/ContactSection.scss'
---

<section class="contactSection">
  <h2 class="sectionHeader">Kontakt</h2>
  <div class="innerWrapper">
    <ul class="linksList">
      <li class="list-item">LinedIn</li>
      <li class="list-item">Email</li>
      <li class="list-item">Instagram</li>
    </ul>
  </div>
</section>
