---
import './PartnersSection.scss'
import { Image } from 'astro:assets'
import dojoImage from '../../../../images/dojo.svg'
---

<section class="partnersSection">
  <div class="sectionWrapper">
    <h2 class="sectionHeader">Partnerzy</h2>
    <div class="imageWrapper">
      <Image src={dojoImage} alt="Logo platformy IT Dojo" />
    </div>
  </div>
</section>
